@import url('https://fonts.cdnfonts.com/css/margesh');
@import url('https://fonts.cdnfonts.com/css/palmori');
@import url('https://fonts.cdnfonts.com/css/pt-mono');
/* main.css - global styles */
:root{
  --bg:#141414;
  --muted:rgba(255,255,255,0.08);
}
*{box-sizing:border-box}
body{
  margin:0;
  font-family:inter;
  background:var(--bg);
  color:#fff;
  -webkit-font-smoothing:antialiased;
}
.container, .container-page{
  max-width:1000px;
  margin:40px auto;
  padding: 24px 24px 24px 64px;
}
h1{font-size:6.2rem;margin:0 0 16px;font-family:'Margesh',sans-serif;font-weight:600; line-height:1.1;}
.links{list-style:disc;margin-left:20px;}
a{color:#7cacff;text-decoration:none;font-family: 'Palmori', sans-serif;}
a:hover{text-decoration:none;opacity:0.8;}
.btn{
  display:inline-block;padding:10px 16px;border-radius:8px;font-family: sans-serif;
  background:rgba(255,255,255,0.06);border:1px solid #ffffff14;color:white;
}
#jakarta-clock {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 16px;
  font-family: 'PT Mono', sans-serif;
  transform: translate(0, -11px);
}
.instruction {
  font-size: 18px;
  margin: 1.3em 0 1.7em 0;
  strong{
    font-weight:600;
    border: 1px solid #ffffff38;
    border-radius: 8px;
    padding: 4px 6px;
  }
  strong:nth-child(1){
      margin-left: 4px;
      margin-right: 1px;
  }
  strong:nth-child(2){
      margin-left: 2px;
      margin-right: 4px;
  }
}